.f_cover {
  width: 210px;
  height: 140px;
  margin-top: 6px;
}

.f_desc {
  width: 210px;
  font-size: 12px;
  text-align: left;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.f_fact {
  width: 210px;
  font-family: "Open Sans Light";
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}
