header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 55px;
  margin-right: 130px;
  margin-left: 120px;

  h2 {
    font-size: 39px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  a {
    cursor: pointer;
  }
}
